on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
    - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

name: Build FG-Usable File

env:
  EXTENSION: '.ext'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repo Assets
      uses: actions/checkout@v4
    - name: Create GitHub Release
      uses: ncipollo/release-action@v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
    - name: Zip Assets Into ${{ env.EXTENSION }} File
      uses: thedoctor0/zip-release@0.7.6
      with:
        filename: ${{ github.event.repository.name }}${{ env.EXTENSION }}
        exclusions: '*.git* /*node_modules/* .editorconfig body.md *.psd *.xcf forge-thumbnail.png thumbnail.png *.toml'
    - name: Add ${{ env.EXTENSION }} File to Release
      uses: ncipollo/release-action@v1
      with:
        artifacts: ${{ github.event.repository.name }}${{ env.EXTENSION }}
        token: ${{ secrets.GITHUB_TOKEN }}
        allowUpdates: true
