on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
    - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

name: Publish Build

permissions: read-all

env:
  EXTENSION: ${{ vars.FORGE_EXTENSION }}
  IS_PRERELEASE: ${{ contains(github.ref_name,'-rc') || contains(github.ref_name,'-beta') || contains(github.ref_name,'-test') }}

jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest

    env:
      RELEASE_FILENAME: ${{ github.event.repository.name }}${{ vars.FORGE_EXTENSION }}

    steps:
    - uses: actions/checkout@v4

    - uses: thedoctor0/zip-release@0.7.6
      with:
        filename: ${{ env.RELEASE_FILENAME }}
        exclusions: '*.git* /*node_modules/* .editorconfig body.md *.psd *.xcf forge-thumbnail.png thumbnail.png *.toml'

    - uses: bmos/FG-Forge-Updater@v2
      with:
        release-channel: ${{ (env.IS_PRERELEASE == 'false') && 'Live' || 'Test' }}
        item-id: ${{ vars.FORGE_ITEM_ID }}
        username: ${{ vars.FORGE_USER_NAME }}
        password: ${{ secrets.FORGE_USER_PASS }}
        file-path: ${{ env.RELEASE_FILENAME }}
        update-readme: "TRUE"
